@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>signin</title>
</head>
<body>
    <div>
        There is already email of this type please try again with different email id
    </div>
</body>
</html>
