@{
   Layout = "~/Views/Shared/-Layoutad.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body background="~/images/gbb.jpg " style="background-size:cover">
    <br />


        <br />
        <div>
            <div class="row">



            </div>

        </div>

        <!-- Enable the tabs -->
        <script type="text/javascript">
            $('#myTabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });
        </script>
    </div>
</body>
</html>
